@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Great+Vibes&family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
    color: #fff;
}

section{
    padding: 2rem 7%;
}

.btn{
    background-color: var(--main-color);
    font-size: 2rem;
    margin: .3rem;
    padding: .8rem;
    cursor: pointer;
    color: #fff
}

.btn:hover{
    letter-spacing: .2rem;
}

.heading{
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2.5rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .nav a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .nav a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding: .5rem;
}

.header .icons div{
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    padding: 1rem;
    color: var(--black);
    font-size: 1.7rem;
    text-transform: none;
}

.header .search-form label{
    font-size: 2.2rem;
    padding: 1.5rem;
    cursor: pointer;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-item-container{
    background: #fff;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    height: calc(100vh - 9.5rem);
    padding: 0 1.5rem;
}

.header .cart-item-container.active{
    right: 0;
}

.header .cart-item-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header .cart-item-container .cart-item img{
    height: 8rem;
}

.header .cart-item-container .cart-item .content h3{
    font-size: 2rem;
    padding-bottom: .5rem;
    color: var(--black);
}

.header .cart-item-container .cart-item .content .price{
    font-size: 1.7rem;
    color: var(--main-color);
}

.header .cart-item-container .cart-item span{
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
}

.header .cart-item-container .cart-item span:hover{
    color: var(--main-color);
}

.header .cart-item-container .btn{
    width: 100%;
}
/* header end */

/* home start */
.home{
    min-height: 100vh;
    background: url(/images/home-img.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 55rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: lighter;
    padding: 1.7rem 0;
    color: #eee;
}
/* home end */

/* about start */
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: var(--black);
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
    line-height: 1.5;
}

.about .row .content h3{
    font-size: 3rem;
    padding-bottom: 2rem;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
/* about end */

/* menu start */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box:hover{
    background: #eee;
    color: var(--bg);
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    font-size: 2rem;
    padding: 1.5rem;
}

.menu .box-container .box .price{
    font-size: 2.5rem;
    padding: .5rem;
}

.menu .box-container .box .price span{
    font-size: 1.9rem;
    font-weight: 200;
    padding-left: .5rem;
    text-decoration: line-through;
}
/* menu end */
















/* media query */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem;
    }

    #menu-btn{
        display: inline-block;
    }

    .header .nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 25rem;
        height: calc(100vh - 9.5rem);
    }

    .header .nav.active{
        right: 0;
    }

    .header .nav a{
        display: block;
        margin: 2rem;
        padding: .5rem;
        font-size: 2rem;
        color: var(--black);
    }

    .header .search-form{
        width: 80%;
    }
    
    .home{
        background-position: left;
        justify-content: center;
    }

    .home .content{
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .header .cart-item-container{
        width: 70%;
    }
    .header .cart-item-container .cart-item{
        gap: .5rem;
    }
}




